---

- name: Create a pool
  shell: ceph osd pool create {{ rbd_pool_name }} 128
  become: yes

- name: Add an user for rbd volume
  shell: >
    ceph auth get-or-create client.{{ rbd_user_name }} mon 'allow r'
    osd 'allow class-read object_prefix rbd_children,
    allow rwx pool={{ rbd_pool_name }}' -o ceph.client.{{ rbd_user_name }}.keyring
  become: yes

- name: modprobe rbd
  shell: modprobe rbd
  become: yes

- name: create rbd volume
  shell: rbd list --pool {{ rbd_pool_name }} | grep {{ rbd_name }} || rbd create {{ rbd_name }} --pool {{ rbd_pool_name }} --size {{ rbd_size }}
  become: yes

- name: rbd disable feature
  shell: >
    rbd feature disable --pool {{ rbd_pool_name }} {{ rbd_name }} fast-diff;
    rbd feature disable --pool {{ rbd_pool_name }} {{ rbd_name }} object-map;
    rbd feature disable --pool {{ rbd_pool_name }} {{ rbd_name }} exclusive-lock;
    rbd feature disable --pool {{ rbd_pool_name }} {{ rbd_name }} deep-flatten;
  become: yes
  ignore_errors: true

- name: create xfs volume
  shell: >
    rbd map --pool {{ rbd_pool_name }} {{ rbd_name }};
    mkfs.xfs /dev/rbd0;
  become: yes

- name: AuthKey admin
  shell: ceph auth get-key client.admin | base64
  register: adminkey
  become: yes

- name: AuthKey {{ rbd_user_name }}
  shell: ceph auth get-key client.{{ rbd_user_name }} | base64
  register: cephkey
  become: yes

- name: stdout authkey admin
  debug: msg={{ adminkey.stdout }}

- name: stdout {{ rbd_user_name }} admin
  debug: msg={{ cephkey.stdout }}
